<?xml version="1.0" encoding="UTF-8"?>
<!--
 ! Excerpted from "Code in the Cloud",
 ! published by The Pragmatic Bookshelf.
 ! Copyrights apply to this code. It may not be used to create training material, 
 ! courses, books, articles, and the like. Contact us if you are in doubt.
 ! We make no guarantees that this code is fit for any purpose. 
 ! Visit http://www.pragmaticprogrammer.com/titles/mcappe for more book information.
-->
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet> <!-- (1) -->
    <servlet-name>chatServlet</servlet-name>
    <servlet-class>com.pragprog.aebook.persistchat.server.ChatSubmissionService
	</servlet-class>
  </servlet>
  
  <servlet-mapping> <!-- (2) -->
    <servlet-name>chatServlet</servlet-name>
    <url-pattern>/persistchat/chat</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>PersistChat.html</welcome-file>
  </welcome-file-list>

</web-app>
