<?xml version="1.0" encoding="UTF-8"?>
<!--
 ! Excerpted from "Code in the Cloud",
 ! published by The Pragmatic Bookshelf.
 ! Copyrights apply to this code. It may not be used to create training material, 
 ! courses, books, articles, and the like. Contact us if you are in doubt.
 ! We make no guarantees that this code is fit for any purpose. 
 ! Visit http://www.pragmaticprogrammer.com/titles/mcappe for more book information.
-->
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>chatServlet</servlet-name>
    <servlet-class>com.pragprog.aebook.chat.server.ChatServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>chatServlet</servlet-name>
    <url-pattern>/chat/chat</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Chat.html</welcome-file>
  </welcome-file-list>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Chat</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
   </security-constraint>

</web-app>
